name: Push Dist to Target Repo
on: [push]

jobs:
  push-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Project
        run: npm install && npm run build
      - name: Init Git in dist
        run: |
          cd dist
          git init -b main
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git remote add origin git@github.com:jiugulixiaoniu/CWBS-ClassWebsite-show.git
      - name: Push to Target
        run: |
          ssh -T git@github.com
          cd dist
          git add -A
          git commit -m "Deploy: ${{ github.sha }}"
          git push origin main --force
